[Unit]
Description=I2C switch board monitoring
After=network.target

[Service]
Type=simple
Environment=/etc/default/IC2SwitchBoard
ExecStart=/usr/local/bin/I2CSwitchBoard ${IC2SB_OPTS} > /dev/null &
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
